<!DOCTYPE html>
<html>
    <head>
    <title>2-Tic-Tac-Toe</title>
    
    <link href="static/css/main.css" rel="stylesheet" type="text/css" />
    <!-- #meta --!>

    <meta charset="utf-8" />

    </head>

    <body>
        
        <div id="intro">
            Hi. <br />
            This is 2-Tic-Tac-Toe (aka Ultimate Tic-Tac-Toe). <br />
            Learn more <a href="https://www.youtube.com/watch?v=37PC0bGMiTI">here</a>. <br />
            Source code <a href="https://github.com/andrewtsoc/2-3T">here</a>. <br />
        </div>

        <div id="ongoing">
            <h3> ongoing games </h3>
            {% for room in rooms %}
                <li><a href="http://{{ domain }}/{{ room }}">{{room}}</a></li>
            {% endfor %}
        </div>

            <a href="http://{{ domain }}/{{ quickroom }}" id="quickstart">Start!</a> 

    </body>
<html>
